node_modules
.vs
arial*
basemaps
benloyal-config.json
BLS
BLSGB
BVC60
bryophytes
cccw
coverage
cumbria*
/data
fiddl*
flora
gb-hectads-config.json
gb-monads-config.json
GR*
harris*
hectads*
index_hectads.js
irish*
jc*
knapdale*
largetest
lichen-leaflet*
mkdistmaps.njsproj
mkdistmaps.sln
monads*
ntailub*
other*
Shared
Source_Sans_Pro*
t
t.txt
test.*
tests/output*
tests/fonts/save
tests/expected/diff2020-10-29
Temp*
tests1.txt
uktest
users
VC*
Web.Config