node_modules
.vs
arial*
basemaps
benloyal-config.json
BLS
bryophytes
cccw
coverage
cumbria*
data
fiddl*
flora
gb*
GR*
harris*
hectads*
index_hectads.js
irish*
jc*
knapdale*
lichen-leaflet*
mkdistmaps.njsproj
mkdistmaps.sln
monads*
ntailub*
other*
Shared
Source_Sans_Pro*
t
t.txt
Temp*
test.*
tests
tests1.txt
uktest
users
VC*
Web.Config